attrs==23.1.0 ; python_version >= "3.11" and python_version < "3.13"
certifi==2023.11.17 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
click-plugins==1.1.1 ; python_version >= "3.11" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.13"
cligj==0.7.2 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows"
contourpy==1.2.0 ; python_version >= "3.11" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.13"
emcee==3.1.4 ; python_version >= "3.11" and python_version < "3.13"
et-xmlfile==1.1.0 ; python_version >= "3.11" and python_version < "3.13"
fiona==1.9.5 ; python_version >= "3.11" and python_version < "3.13"
fonttools==4.46.0 ; python_version >= "3.11" and python_version < "3.13"
geopandas==0.14.1 ; python_version >= "3.11" and python_version < "3.13"
gstlearn==1.0.0 ; python_version >= "3.11" and python_version < "3.13"
gstools==1.5.1 ; python_version >= "3.11" and python_version < "3.13"
hankel==1.2.2 ; python_version >= "3.11" and python_version < "3.13"
idna==3.6 ; python_version >= "3.11" and python_version < "3.13"
joblib==1.3.2 ; python_version >= "3.11" and python_version < "3.13"
kiwisolver==1.4.5 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.13"
matplotlib==3.8.2 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
meshio==5.3.4 ; python_version >= "3.11" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.2 ; python_version >= "3.11" and python_version < "3.13"
openpyxl==3.1.2 ; python_version >= "3.11" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.11" and python_version < "3.13"
pandas==2.1.3 ; python_version >= "3.11" and python_version < "3.13"
pillow==10.1.0 ; python_version >= "3.11" and python_version < "3.13"
plotly==5.18.0 ; python_version >= "3.11" and python_version < "3.13"
pyevtk==1.6.0 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.17.2 ; python_version >= "3.11" and python_version < "3.13"
pykrige==1.7.1 ; python_version >= "3.11" and python_version < "3.13"
pyparsing==3.1.1 ; python_version >= "3.11" and python_version < "3.13"
pyproj==3.6.1 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "3.13"
pytz==2023.3.post1 ; python_version >= "3.11" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.13"
rich==13.7.0 ; python_version >= "3.11" and python_version < "3.13"
scikit-learn==1.3.2 ; python_version >= "3.11" and python_version < "3.13"
scipy==1.11.4 ; python_version >= "3.11" and python_version < "3.13"
setuptools==69.0.2 ; python_version >= "3.11" and python_version < "3.13"
shapely==2.0.2 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
tenacity==8.2.3 ; python_version >= "3.11" and python_version < "3.13"
threadpoolctl==3.2.0 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2023.3 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.1.0 ; python_version >= "3.11" and python_version < "3.13"
